/* Inserta tu codigo aqui */
hr{
	color: gray;
	height: 3px;
	margin: 3px;
}
.fondo1{
	background-image: url("../img/dance_7.jpg");
	height: 350px;
}

.fondo2{
	background-image: url("../img/cubes.png");
	height: 300px;
}

.cuadroNegro{
	background-color: black;
	opacity: 0.5;
	height: 25%;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 40%;
}

.foto{
	height: 130px;
	overflow: hidden;
}

div.foto img{
	width: 100%;
}